---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date('May 14 2025')}
>
  <p>
  This blog is my place to write about the things I work on on my free time. I don't write it so that it's read by many, but rather to force me to conclude the side projects I start. Also I expect it'll force me to go a bit deeper on a topic before writing about it.
  </p>

  <h3>Who am I</h3>

  <p>
  I'm a French man living in Berlin since 2017, where I co-founded a startup as CTO. I started programming since I'm 15, first with with PHP and HTML, later with Python, javascript/typescript, Golang, then Elixir, as well as some C/C++, Java (!), and more recently Rust. I also really like shell scripting, nixos, thinkpads and tiling window managers. Now you know everything.
  </p>
</Layout>
